/* Footer.module.css */
.footer {
  background-color: #db2777;
  color: white;
  padding: 3rem 0;
}

.footerContent {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  flex-wrap: wrap;
  gap: 4rem;
  color: white !important;
}
.logo {
  width: 30%;
}

.footerContent h1 {
  color: #db2777 !important;
  font-size: 28px;
  font-weight: 600;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}

.footerColumn {
  /* flex: 1; */
  max-width: 300px;
}

.footerColumn select {
  padding: 5px;
  border-radius: 3px;
  width: 100px;
  outline: white;
}

.vector {
  display: flex;
  align-items: center;
  justify-content: start;
}
.vector span {
  margin-right: 10px;
  font-size: 12px;
}

.footerColumn h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #ffc700 !important;
}

.footerColumn p {
  font-size: 0.7rem;
  margin-bottom: 1rem;
  color: white !important;
}

.footerColumn ul {
  list-style: none;
  padding-left: 0;
}

.footerColumn ul li {
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
  color: white !important;
}

.copyRight {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.8rem;
  color: white !important;
  margin: 1rem auto;
}
hr {
  width: 94%;
  margin-bottom: 20px;
  margin-top: 30px;
}

/* Responsive Styles */
@media screen and (max-width: 668px) {
  .logo {
    width: 60%;
    height: 40px;
  }
  .footerContent {
    align-items: flex-start !important;
  }
  .footerContent h1 {
    font-size: 24px;
  }
}
@media screen and (max-width: 368px) {
  .footerColumn {
    margin-bottom: 0.4rem;
    flex-direction: column !important;
  }
}
